.catalog {
  position: relative;
  padding-top: 81px;
  padding-bottom: 54px;

  @include tablet {
    background-image: url("../images/cubs-tablet.png");
    background-position: top 80px center;
    background-repeat: no-repeat;
  }

  @include desktop {
    background-image: url("../images/cubs.png");
    background-position: top 60px center;
    background-repeat: no-repeat;
  }

  &:before {
    content: "Helong";
    position: absolute;
    top: 60px;
    left: -8px;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f2f5fb;
    z-index: -1;

    @include tablet {
      font-size: 122px;
      line-height: 122px;
    }
  }
}

.catalog__heading {
  margin-bottom: 45px;

  @include desktop {
    margin-bottom: 70px;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @include mobile-landscape-320 {
    justify-content: space-between;
  }

  @include tablet {
    margin-left: -25px;
  }
}

.catalog__item {
  width: 100%;
  margin-bottom: 25px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px 1px #eaeaea;

  @include mobile-landscape-320 {
    width: 48%;
  }

  @include tablet {
    width: 347px;
    margin-left: 25px;
  }

  @include desktop {
    width: 377px;
    margin-left: 25px;
  }
}

.catalog__link {
  display: block;
  padding: 24px 25px 38px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $text-color;
}

.catalog__picture {
  margin-bottom: 28px;
}

.catalog__name {
  margin: 0;
}