.inner {
  width: 290px;
  margin: 0 auto;

  @include mobile-landscape-320 {
    width: 520px;
  }

  @include mobile-landscape {
    width: 620px;
  }

  @include tablet {
    width: 720px;
  }
  
  @include desktop {
    width: 1200px;
  }
}