.lang {
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    position: relative;
    display: inline;

    &:not(:last-child) {
      padding-right: 7px;
      margin-right: 4px;

      &:after {
        content: "|";
        position: absolute;
        right: 0;
        color: #747474;
      }
    }
  }

  & a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #747474;
  }

  & .active a {
    color: $theme-color;
  }
}